body {
    font-family: Arial;
    background: #f2f7fb;
}

.container {
    width: 420px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

label {
    margin-top: 6px;
    display: block;
}

input {
    width: 100%;
    padding: 6px;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #007bff;
    color: white;
    border: none;
    font-size: 16px;
}

.result {
    text-align: center;
    margin-top: 20px;
}

.kidney-img {
    width: 280px;
}

.graph-img {
    width: 380px;
    margin-top: 10px;
}
